<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width = device-width, initial-scale = 1">
  <title>DT-Conformation</title>
  <!--Bootstrap links-->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/'>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <!--DevilTransit css link-->

  <!-- Link to css -->
  <link rel="stylesheet" href="style.css">

  <!-- i've put this sytle sheet link into your code. you just have to make a file called "style.css" and you'll just have to put your css in that file" -->

</head>

<style>
  .center {
    width: 50px;
    height: 20px;
    margin: 0 auto;
  }
</style>

<body>
<!-- This is a banner class -->
<div class="jumbotron">
  <div class="text-center">
    <h1>Confirmation</h1>
  </div>
</div>

<!-- This begins the input login -->
<div class="container">

  <br class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h3 align="center">Thank you for your patronage! We will send an email confirmation to the listed account.</h3></br>
  </div>

<div class="center">
  <%= link_to "Sign In!", root_path, :class => 'btn btn-large btn-primary' %>
</div>



<!--Javascript links-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>